body {
    font-family: 'Arial', sans-serif;
    background-color: #111111;
    color: white;
}

h1, h2, h3 {
    color: #FF6347;
}

button {
    background-color: #FF6347;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #FF4500;
}
